In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [6]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [7]:
index_count = 0
word = 'Hello'
for letter in word:
    
    print(word[index_count])
    index_count += 1

H
e
l
l
o

In [11]:
word = 'Hello'

for item,letter in enumerate(word):
    print(letter)
    print(item)
    print('\n')

H
0


e
1


l
2


l
3


o
4

In [12]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']

In [13]:
zip(mylist1,mylist2)

In [14]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [15]:
mylist3 = [100,200,300]

In [16]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [18]:
for a,b,s in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [19]:
'x' in [1,2,3]

False

In [20]:
'x' in ['x','y','z']

True

In [21]:
'2' in [1,2,3]

False

In [22]:
2 in [1,2,3]

True

In [23]:
'a' in 'Hello'

False

In [24]:
'o' in 'Hello'

True

In [25]:
'mykey' in {'mykey':365}

True

In [26]:
d = {'mykey':365}

365 in d.values()

True

In [27]:
d = {'mykey':365}

365 in d.keys()

False

In [28]:
l = [1,2,3,4,5,6,0]

In [29]:
min(l)

0

In [30]:
max(l)

6

In [31]:
from random import shuffle

In [32]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]

In [33]:
shuffle(l1)

In [34]:
l1

[4, 5, 7, 8, 13, 9, 1, 6, 12, 2, 3, 10, 11]

In [35]:
random_list = shuffle(l1)

In [37]:
type(random_list)

NoneType

In [38]:
l1

[7, 9, 8, 12, 6, 5, 4, 3, 2, 13, 1, 11, 10]

In [39]:
from random import randint

In [40]:
randint(0,100)

47

In [41]:
randint(0,100)

1

In [42]:
num = randint(0,100)

In [43]:
num

0

In [44]:
input('Number:')

Number:120

'120'

In [46]:
marks = input('Enter marks: ')

Enter marks: 70

In [47]:
marks

'70'

In [49]:
float(marks)

70.0

In [50]:
int(marks)

70