In [1]:
mystring = 'Hello'

In [6]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [7]:
mylist

['H', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['H', 'e', 'l', 'l', 'o']

In [8]:
mylist = [x for x in 'word']

In [9]:
mylist

['w', 'o', 'r', 'd']

In [10]:
mylist = [x for x in range(0,11)]

In [11]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mylist = [num**2 for num in range(0,11)]

In [13]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist = []

for num in range(0,11):
    mylist.append(num**2)

In [16]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
[x for x in range(0,11) if x%2==0]

[0, 2, 4, 6, 8, 10]

In [18]:
l

[0, 2, 4, 6, 8, 10]

In [19]:
l1 = [x**2 for x in range(0,11) if x%2==0]

In [20]:
l1

[0, 4, 16, 36, 64, 100]

In [21]:
c = [10,20,30,34.5,40.2]

f = [((9/5)*temp + 32) for temp in c]

In [22]:
f

[50.0, 68.0, 86.0, 94.1, 104.36000000000001]

In [23]:
c = [0,10,20,34.5]
f = []

for temp in c:
    f.append((9/5)*temp + 32)

In [24]:
f

[32.0, 50.0, 68.0, 94.1]

In [25]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [26]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [27]:
mylist = []

for x in [2,3,4]:
    for y in [1,2,3]:
        mylist.append(x*y)

In [28]:
mylist

[2, 4, 6, 3, 6, 9, 4, 8, 12]

In [29]:
mylist = [x*y for x in [2,3,4] for y in [1,2,3]]

In [30]:
mylist

[2, 4, 6, 3, 6, 9, 4, 8, 12]